BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
DerivePointerAlignment: false
PointerAlignment: Right
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignEscapedNewlinesLeft: true
Language: Cpp