Makefile
autom4te.cache/
compile
config.h
config.log
config.status
src/.deps/
src/Makefile
src/builtins.c
src/builtins.def
src/builtins.h
src/dash
src/init.c
src/mkinit
src/mknodes
src/mksignames
src/mksyntax
src/nodes.c
src/nodes.h
src/signames.c
src/syntax.c
src/syntax.h
src/token.h
src/token_vars.h
stamp-h1
